# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
project.config.json
project.private.config.json
.idea

# Node.js
node_modules/
dist/

#vscode
.vscode
project.config.json
project.private.config.json
!.gitignore